@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');


$primary_color: #4D38F7;
$secondary_color: #222;

@mixin button-style {

    float: right;
    border-radius: 0;
    background-color: $primary_color;
    text-transform: uppercase;
    padding: .5rem 3rem;
    margin-right: -2rem;
    border:none;

}

@mixin h1-style {
    text-align: center;
    width: 100%;
    //font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

body,
html {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    color: $primary_color;
    font-family: 'Lato', sans-serif;
}

#bg {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    background-color: $secondary_color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#bg2 {
    clip-path: polygon(100% 17%, 0% 100%, 100% 100%);
    background-color: $secondary_color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#bg3 {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    background-color: $secondary_color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}





#main-page {

    width: 100%;
    height: 100%;
    margin-top: 10%;


    h1 {
        text-transform: uppercase;
        font-size: 6rem;
    }

    p {
        font-size: 2rem;
    }


    .event-btns {

        width: 100%;


        a {
            text-transform: uppercase;
            background: $primary_color;
            color: #fff;
            font-size: 1.5rem;
            width: 50%;
            padding: 2rem 0;
            -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

        }

        .btn {
            border-radius: 0;
        }
    }

}

#add-event {

    h1 {
        @include h1-style();
        margin-bottom:2rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .form-control-lg {
        background-color: #c3c3c3;
        border: none;
        border-radius: 0;
    }

    span {
        color: $secondary_color;
    }

    .form-group {
        margin: 1rem 2rem;
    }

    .col-form-label-lg {
        font-weight: 700;
        text-align: left;
    }

    .btn-primary {
        margin-top:2rem;
        @include button-style();

    }

}

#nearby-events {
    width: 100%;
    height: 100%;
   margin-top:5%;
letter-spacing: 1px;

    h1 {
        @include h1-style();
        font-size: 5rem;
        letter-spacing: 3px;
        span{
            color:#FFF;
        }
    }

    .form-group {
        padding: 1rem 15rem;
        font-size: 2rem;
        text-align: left;

    }

    .form-control {
        background-color: #c3c3c3;
        border: none;
        border-radius: 0;
    }

    button {
        @include button-style();
        float: none;
    }

}
.square1 {
    position: absolute;
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
    right: 50%;
    top: 50%;
    bottom: 0;
    margin-right: -1000px;
    background-color: #222;
    width: 2000px;
    height: 800px;
    z-index: -1;

}

#events {
    visibility: hidden;
    float: right;
}



#map {
    background: $secondary_color;
    height: 100vh;
    visibility: hidden;

    .googMap {
        padding-top: 3em;
        width: 70%;

    }

}



#events {
    width: 550px;
}