@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

$primary-color: #4D38F7;
$secondary-color:#222;
$bold: 700;
$semi-bold:600;
$medium:500; 



body{
    font-family: 'Montserrat', sans-serif;
   
    height:100vh;

}

h2{
    color: $secondary-color;

    span{
        color: $primary-color;
    }
}