.list-group-item {
  line-height: 2.5;
} 
#map {
        
        height: 50%;
        width:60%;
      }
  
      .pageContent {
    margin: 100px; 
      }

      .form-group{
        margin-left: 100px; 
        
      }